H1 {
            font-size: 200%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #fc0fc0;
            text-align: center
            }
            p {
            padding-left:20px
            }